.playlist {
  margin: 0 2rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  /* background-color: blue; */
  height: 2cm;
}
/* .img4 { */
img {
  height: 15rem;
  /* box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px; */
}
/* } */
.details {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  color: #040404;
  /* background-color: red; */
}
.title {
  color: rgb(8, 8, 8);
  font-size: 1cm;
  margin-top: 4cm;
  /* margin-right: cm; */
  /* background-color: red; */
}

/* .list { */
.header-row {
  display: grid;
  grid-template-columns: 0.3fr 3fr 2fr 0.1fr;
  margin: 1rem 0 0 0;
  color: #131212;
  position: sticky;
  top: 15vh;
  padding: 1rem 3rem;
  transition: 0.3s ease-in-out;
  margin-left: 9cm;
  margin-top: -2cm;
  /* background-color: ${({ headerBackground }) =>
        headerBackground ? "#000000dc" : "none"}; */
  /* background: white; */
}
.tracks {
  margin: 0 2rem;
  display: flex;
  flex-direction: column;
  margin-bottom: 5rem;
  margin-left: -16cm;
  /* color: rgb(252, 13, 13); */
  height: 5cm;
  width: 20cm;
  overflow: auto;
  overflow-x: hidden;
  scroll-behavior: none;
  /* background-color: white; */
  background: transparent;
}
.tracks::-webkit-scrollbar {
  display: none;
}
.hov {
  width: 15cm;

  margin: 0 2rem;
  display: flex;
  flex-direction: column;
  /* margin-bottom: 5rem; */
  /* margin-left: -12cm; */
  /* color: rgb(252, 13, 13); */
  /* height: 5cm; */
  /* width: 17cm; */
  overflow: auto;
  overflow-x: hidden;
  scroll-behavior: none;
  /* background-color: white; */
  background: transparent;
}
.row:hover {
  background-color: rgb(254, 252, 252);
  color:black;
}
.row {
  /* width: 20cm; */
  padding: 0.5rem 1rem;
  display: grid;
  grid-template-columns: 0.3fr 3.1fr 2fr 0.1fr;
  /* &:hover {
          background-color: rgba(0, 0, 0, 0.7);
        } */
}
.span1 {
  padding-right: 1cm;
}
.span2 {
  padding-left: 0.5cm;
}
.span3{
  /* padding-right: -8cm; */
  margin-left: 2cm;
}
.column {
  display: flex;
  align-items: center;
  color: #070707;
  /* word-spacing: 2cm; */
  /* background-color: white; */
}
.img4 {
  height: 40px;
  width: 40px;
  /* margin-top: 3cm;gg */
}
.image {
  /* margin-top: 4cm; */
  height: 1cm;
  display: flex;
}
.img5 {
  height: 6cm;
  width: 15cm;
  margin-top: 5cm;
  margin-left: -1cm;
  border-radius: 1cm;
}
.detail {
  display: flex;
  gap: 1rem;
}
.info {
  display: flex;
  flex-direction: column;
}
.lists {
  position: sticky;
  display: flex;
  float: right;
  margin-top: 13cm;
  margin-right: 20cm;
  margin-left: -27cm;
  color: black;
  /* background-color: rgb(248, 243, 243); */
  height: 100%;
  width: 25cm;
  /* overflow: auto; */
}
.home {
  background-color: white;
  border: 0.5cm, black;
  color: rgb(5, 5, 5);
}
